.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
    padding: 30px 20px;   /* 👈 height increase */
  min-height: 70px;     /* 👈 minimum height */

  color: white;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f0c040;
}





/* ////////////////footer//////////////////// */




.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* ////////////////search box//////////////////////////////////// */


.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-box input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 220px;
}

.search-box button {
  padding: 8px 12px;
  border: none;
  background-color: #f0c14b;
  border-radius: 6px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #ddb347;
}